.countdownHolder{
	width: 100%;
	text-align: center;
	overflow: hidden;
}
.countdownHolder span{
	display: inline-block;
}
.countdownHolder .digitsHolder{
	margin: 5px 10px 10px;
	white-space: nowrap;
	position: relative;
}
.countdownHolder .digitsHolder:after{
	display: inline-block;
	vertical-align: middle;
	position: absolute;
	top: 6px;
	right: -11.5px;
	font-size: 1.125em;
	content: ":";
	color: #c9c9c9;
}
.countdownHolder .digitsHolder:last-child:after{ display: none; }
.digitsHolder .digit{
	display: inline-block;
	vertical-align: middle;
	position: relative;
	font-size: 2em;
	color: #5c5c5c;
	background: transparent;
	overflow: hidden;
}
.countdownHolder p{
	font-size: 0.875em;
	color: #c9c9c9;
}